*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgb(35, 35, 51);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: 35px;
    background-color: rgb(138, 122, 122);
}
header h1{
    color: rgb(35, 35, 55);
    font-size: 60px;
   text-transform: capitalize;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form input[type="text"],button[type="submit"]{
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  font-size: 10px;
  border-radius: 6px;
  border-style: none;
}
form button[type="submit"]{
    background-color: rgb(211, 24, 24);
    color: white;
    cursor: pointer;
    transition: 0.4s;
}
form button[type="submit"]:hover{
  background-color: rgb(132, 13, 21);
}
.recipe-container{
    text-align: center;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 40px;
    width: 80%;
    margin: 10px auto;
}
.recipe-container h2{
    color: white;
}
.recipe{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(78,73,73,0.1),-5px -5px 10px rgba(36, 27, 27, 0.1);
    cursor: pointer;
    max-width:350px;
   transition: transform 1.05s ease-in-out;
   }
   .recipe:hover{
    transform:scale(1.1);
   }
   .recipe img{
    height: 300px;
   }
   .recipe h3 {
    margin: 15px;
   }
   .recipe p{
    padding-bottom: 10px;
    font-size: 20px;
   }
   .recipe button{
    background-color:rgb(158, 14, 24); 
    color: white;
    width: 40%;
    border-radius: 10px;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    margin: 10px auto;
   }
   .recipe-details{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    background-color: rgba(36, 27, 27);;
    width: 40%;
    height: 60%;
    border-radius: 10px;
    color: white;
    transition: all 0.5s ease-in-out;
    overflow-y: scroll;
   }
   .recipe-details-content{
    padding-left:45px;
  
   }
   .recipe-details-content h3{
    padding: 10px;
   }
  .recipe-close-btn{
    background-color:rgb(132, 13, 21); 
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .recipe-close-btn:hover{
    background-color: rgb(132, 13, 21);
  }
.recipeName{
    text-decoration: underline;
}
@media screen and (max-width:600px){
    header form{
        width: 80%;
    }
    header{
        flex-direction: column;
}
}